body{
    background-color: rgba(72, 69, 69, 0.591);
}
.box-post{
    background-color: black;
    color: aliceblue;
    padding: 30px;
    padding: 30px 100px;
    margin: 50px;
}

.box-post h3{
    color: rgb(96, 96, 96);
    font-weight: bold;
    font-size: 25px;
}

.box-post p{
font-size: 20px;
}

.box-post button{
    border: none;
    border-radius: 7px;
    padding: 7px;
    margin-top: 20px;
    cursor: pointer;
}

.post-header{
    display: flex;
    align-items: center;
    gap: 30px;
}

.post-header a{
    color: rgb(96, 96, 96);
    font-size: 20px;
    text-decoration: none;
}

.post-header h2{
    font-size: 30px;
}


